Diabolus.kra filter=lfs diff=lfs merge=lfs -text
plotter.kra filter=lfs diff=lfs merge=lfs -text
prosecutor.kra filter=lfs diff=lfs merge=lfs -text
Trump.kra filter=lfs diff=lfs merge=lfs -text
images/Trump.kra filter=lfs diff=lfs merge=lfs -text
images/Whisperer.kra filter=lfs diff=lfs merge=lfs -text
images/Capitalist.kra filter=lfs diff=lfs merge=lfs -text
images/Diabolus.kra filter=lfs diff=lfs merge=lfs -text
images/Fan.kra filter=lfs diff=lfs merge=lfs -text
images/plotter.kra filter=lfs diff=lfs merge=lfs -text
images/Jailer.kra filter=lfs diff=lfs merge=lfs -text
images/prosecutor.kra filter=lfs diff=lfs merge=lfs -text
images/Punk.kra filter=lfs diff=lfs merge=lfs -text
images/Sectarian.kra filter=lfs diff=lfs merge=lfs -text
images/soulmate.kra filter=lfs diff=lfs merge=lfs -text
images/Dowser.kra filter=lfs diff=lfs merge=lfs -text
images/Pope.kra filter=lfs diff=lfs merge=lfs -text
images/Romantic.kra filter=lfs diff=lfs merge=lfs -text
images/Shredder.kra filter=lfs diff=lfs merge=lfs -text
images/Sinister_Fog.kra filter=lfs diff=lfs merge=lfs -text
images/Spoiler.kra filter=lfs diff=lfs merge=lfs -text
images/Traitor.kra filter=lfs diff=lfs merge=lfs -text
images/Apatheist.kra filter=lfs diff=lfs merge=lfs -text
images/Samurai.kra filter=lfs diff=lfs merge=lfs -text
images/Shopkeeper.kra filter=lfs diff=lfs merge=lfs -text
images/Putschist.kra filter=lfs diff=lfs merge=lfs -text
images/Vice.kra filter=lfs diff=lfs merge=lfs -text
images/Sleepwalker.kra filter=lfs diff=lfs merge=lfs -text
images/Fantasist.kra filter=lfs diff=lfs merge=lfs -text
images/Antifascist.kra filter=lfs diff=lfs merge=lfs -text
images/Anarchist.kra filter=lfs diff=lfs merge=lfs -text
pdf/BotC_Dear_Dictator.pdf filter=lfs diff=lfs merge=lfs -text
pdf/BotC_Trust_Me_Bro.pdf filter=lfs diff=lfs merge=lfs -text
images/Bodyguard.kra filter=lfs diff=lfs merge=lfs -text
images/Paranoid.kra filter=lfs diff=lfs merge=lfs -text
images/Therapist.kra filter=lfs diff=lfs merge=lfs -text
images/Imbecile.kra filter=lfs diff=lfs merge=lfs -text
images/Model.kra filter=lfs diff=lfs merge=lfs -text
images/Physician.kra filter=lfs diff=lfs merge=lfs -text
images/Psychatrist.kra filter=lfs diff=lfs merge=lfs -text
images/Sleuth.kra filter=lfs diff=lfs merge=lfs -text
images/Soulkeeper.kra filter=lfs diff=lfs merge=lfs -text
images/Vampire_Hunter.kra filter=lfs diff=lfs merge=lfs -text
images/Detective.kra filter=lfs diff=lfs merge=lfs -text
images/Mummer.kra filter=lfs diff=lfs merge=lfs -text
images/Mute.kra filter=lfs diff=lfs merge=lfs -text
images/Sectarian.png filter=lfs diff=lfs merge=lfs -text
images/Bodyguard.png filter=lfs diff=lfs merge=lfs -text
images/Neurex.png filter=lfs diff=lfs merge=lfs -text
images/Physician.png filter=lfs diff=lfs merge=lfs -text
images/Poltergeist.png filter=lfs diff=lfs merge=lfs -text
images/Prophet.kra filter=lfs diff=lfs merge=lfs -text
images/Satan.png filter=lfs diff=lfs merge=lfs -text
images/Shopkeeper.png filter=lfs diff=lfs merge=lfs -text
images/soulmate.png filter=lfs diff=lfs merge=lfs -text
images/Brainwasher.kra filter=lfs diff=lfs merge=lfs -text
images/Crusader.png filter=lfs diff=lfs merge=lfs -text
images/evil_texture.jpg filter=lfs diff=lfs merge=lfs -text
images/Gourmet.png filter=lfs diff=lfs merge=lfs -text
images/Kindergardener.png filter=lfs diff=lfs merge=lfs -text
images/Ouroboros.png filter=lfs diff=lfs merge=lfs -text
images/Paranoid.png filter=lfs diff=lfs merge=lfs -text
images/Pastor.png filter=lfs diff=lfs merge=lfs -text
images/Attorney.kra filter=lfs diff=lfs merge=lfs -text
images/Cyborg.png filter=lfs diff=lfs merge=lfs -text
images/Maniac.png filter=lfs diff=lfs merge=lfs -text
images/Master_Hora.png filter=lfs diff=lfs merge=lfs -text
images/Mentalist.png filter=lfs diff=lfs merge=lfs -text
images/Siamese_Twin.png filter=lfs diff=lfs merge=lfs -text
images/Trump.png filter=lfs diff=lfs merge=lfs -text
images/Actor.png filter=lfs diff=lfs merge=lfs -text
images/Frankenstein.png filter=lfs diff=lfs merge=lfs -text
images/polymath.png filter=lfs diff=lfs merge=lfs -text
images/Survivor.kra filter=lfs diff=lfs merge=lfs -text
images/Theist.kra filter=lfs diff=lfs merge=lfs -text
images/Care_Worker.kra filter=lfs diff=lfs merge=lfs -text
images/Apatheist.png filter=lfs diff=lfs merge=lfs -text
images/Forensic.png filter=lfs diff=lfs merge=lfs -text
images/Imbecile.png filter=lfs diff=lfs merge=lfs -text
images/Logician.kra filter=lfs diff=lfs merge=lfs -text
images/Pinocchio.kra filter=lfs diff=lfs merge=lfs -text
images/plotter.png filter=lfs diff=lfs merge=lfs -text
images/President.png filter=lfs diff=lfs merge=lfs -text
images/Clairvoyant.kra filter=lfs diff=lfs merge=lfs -text
images/Diabolus.png filter=lfs diff=lfs merge=lfs -text
images/Platidurinarian.png filter=lfs diff=lfs merge=lfs -text
images/Psychatrist.png filter=lfs diff=lfs merge=lfs -text
images/Putschist.png filter=lfs diff=lfs merge=lfs -text
images/Samurai.png filter=lfs diff=lfs merge=lfs -text
images/Shredder.png filter=lfs diff=lfs merge=lfs -text
images/Traitor.png filter=lfs diff=lfs merge=lfs -text
images/Attorney.png filter=lfs diff=lfs merge=lfs -text
images/Clown.kra filter=lfs diff=lfs merge=lfs -text
images/Detective.png filter=lfs diff=lfs merge=lfs -text
images/Model.png filter=lfs diff=lfs merge=lfs -text
images/Robber.kra filter=lfs diff=lfs merge=lfs -text
images/Witcher.png filter=lfs diff=lfs merge=lfs -text
images/Dowser.png filter=lfs diff=lfs merge=lfs -text
images/Drug_Pusher.kra filter=lfs diff=lfs merge=lfs -text
images/Instigator.png filter=lfs diff=lfs merge=lfs -text
images/Performer.png filter=lfs diff=lfs merge=lfs -text
images/Shaman.kra filter=lfs diff=lfs merge=lfs -text
images/Sickener.png filter=lfs diff=lfs merge=lfs -text
images/Spellcaster.kra filter=lfs diff=lfs merge=lfs -text
images/Tormon.kra filter=lfs diff=lfs merge=lfs -text
images/Gourmet.kra filter=lfs diff=lfs merge=lfs -text
images/Inspector.kra filter=lfs diff=lfs merge=lfs -text
images/Actor.kra filter=lfs diff=lfs merge=lfs -text
images/Angel_of_Death.png filter=lfs diff=lfs merge=lfs -text
images/Death_Gargoyle.kra filter=lfs diff=lfs merge=lfs -text
images/Fantasist.png filter=lfs diff=lfs merge=lfs -text
images/Forensic.kra filter=lfs diff=lfs merge=lfs -text
images/Genie.png filter=lfs diff=lfs merge=lfs -text
images/Brute.png filter=lfs diff=lfs merge=lfs -text
images/Clan_Boss.png filter=lfs diff=lfs merge=lfs -text
images/Gilorax.png filter=lfs diff=lfs merge=lfs -text
images/Limpet.kra filter=lfs diff=lfs merge=lfs -text
images/Mentalist.kra filter=lfs diff=lfs merge=lfs -text
images/Shaman.png filter=lfs diff=lfs merge=lfs -text
images/Spellcaster.png filter=lfs diff=lfs merge=lfs -text
images/Suppressor.png filter=lfs diff=lfs merge=lfs -text
images/Demographer.png filter=lfs diff=lfs merge=lfs -text
images/Logician.png filter=lfs diff=lfs merge=lfs -text
images/Prosecutor.png filter=lfs diff=lfs merge=lfs -text
images/sabotage.png filter=lfs diff=lfs merge=lfs -text
images/Spoiler.png filter=lfs diff=lfs merge=lfs -text
images/Time_Eater.png filter=lfs diff=lfs merge=lfs -text
images/Twin_Demon.png filter=lfs diff=lfs merge=lfs -text
images/Vagrant.kra filter=lfs diff=lfs merge=lfs -text
images/Conspirator.kra filter=lfs diff=lfs merge=lfs -text
images/Conspirator.png filter=lfs diff=lfs merge=lfs -text
images/Drug_Pusher.png filter=lfs diff=lfs merge=lfs -text
images/Ghoul.png filter=lfs diff=lfs merge=lfs -text
images/Prodigy.kra filter=lfs diff=lfs merge=lfs -text
images/Tormon.png filter=lfs diff=lfs merge=lfs -text
images/Wanderer.png filter=lfs diff=lfs merge=lfs -text
images/Buddha.png filter=lfs diff=lfs merge=lfs -text
images/Care_Worker.png filter=lfs diff=lfs merge=lfs -text
images/adulterator.png filter=lfs diff=lfs merge=lfs -text
images/Angel_of_Death.kra filter=lfs diff=lfs merge=lfs -text
images/Chameon.png filter=lfs diff=lfs merge=lfs -text
images/Prophet.png filter=lfs diff=lfs merge=lfs -text
images/Punk.png filter=lfs diff=lfs merge=lfs -text
images/Robber.png filter=lfs diff=lfs merge=lfs -text
images/Clan_Boss.kra filter=lfs diff=lfs merge=lfs -text
images/Poltergeist.kra filter=lfs diff=lfs merge=lfs -text
images/Puppeteer.png filter=lfs diff=lfs merge=lfs -text
images/Romantic.png filter=lfs diff=lfs merge=lfs -text
images/Double_Agent.png filter=lfs diff=lfs merge=lfs -text
images/Glitcher.png filter=lfs diff=lfs merge=lfs -text
images/plotter_trustmebro.png filter=lfs diff=lfs merge=lfs -text
images/Sorcerer.png filter=lfs diff=lfs merge=lfs -text
images/Therapist.png filter=lfs diff=lfs merge=lfs -text
images/Voodoo_Master.png filter=lfs diff=lfs merge=lfs -text
images/Immortal.kra filter=lfs diff=lfs merge=lfs -text
images/Pastor.kra filter=lfs diff=lfs merge=lfs -text
images/Vampire.png.kra filter=lfs diff=lfs merge=lfs -text
images/Village_Gargoyle.png filter=lfs diff=lfs merge=lfs -text
images/Juror.png filter=lfs diff=lfs merge=lfs -text
images/Medusa.png filter=lfs diff=lfs merge=lfs -text
images/Neurohacker.png filter=lfs diff=lfs merge=lfs -text
images/Pope_staff.png filter=lfs diff=lfs merge=lfs -text
images/Anarchist.png filter=lfs diff=lfs merge=lfs -text
images/Frankenstein.kra filter=lfs diff=lfs merge=lfs -text
images/Immortal.png filter=lfs diff=lfs merge=lfs -text
images/Schizo.kra filter=lfs diff=lfs merge=lfs -text
images/Censor.png filter=lfs diff=lfs merge=lfs -text
images/Death_Gargoyle.png filter=lfs diff=lfs merge=lfs -text
images/Eye_Zero.kra filter=lfs diff=lfs merge=lfs -text
images/Eye_Zero.png filter=lfs diff=lfs merge=lfs -text
images/Nihilist.png filter=lfs diff=lfs merge=lfs -text
images/pandemon.png filter=lfs diff=lfs merge=lfs -text
images/Redeemer.png filter=lfs diff=lfs merge=lfs -text
images/Titan.png filter=lfs diff=lfs merge=lfs -text
images/good_texture.jpg filter=lfs diff=lfs merge=lfs -text
images/Performer.kra filter=lfs diff=lfs merge=lfs -text
images/Redeemer.kra filter=lfs diff=lfs merge=lfs -text
images/sabotage.kra filter=lfs diff=lfs merge=lfs -text
images/Vagrant.png filter=lfs diff=lfs merge=lfs -text
images/Buddha.kra filter=lfs diff=lfs merge=lfs -text
images/Arrester.png filter=lfs diff=lfs merge=lfs -text
images/Ghoul.kra filter=lfs diff=lfs merge=lfs -text
images/Kindergardener.kra filter=lfs diff=lfs merge=lfs -text
images/Mephisto.png filter=lfs diff=lfs merge=lfs -text
images/Putin.png filter=lfs diff=lfs merge=lfs -text
images/Sinister_Fog.png filter=lfs diff=lfs merge=lfs -text
images/Vice.png filter=lfs diff=lfs merge=lfs -text
images/Clown.png filter=lfs diff=lfs merge=lfs -text
images/Hydra.png filter=lfs diff=lfs merge=lfs -text
images/Petrifier.png filter=lfs diff=lfs merge=lfs -text
images/Copycat.png filter=lfs diff=lfs merge=lfs -text
images/Daimyō.kra filter=lfs diff=lfs merge=lfs -text
images/Daimyō.png filter=lfs diff=lfs merge=lfs -text
images/Hairdresser.png filter=lfs diff=lfs merge=lfs -text
images/Psychic.png filter=lfs diff=lfs merge=lfs -text
images/Ravannavar.png filter=lfs diff=lfs merge=lfs -text
images/Theist.png filter=lfs diff=lfs merge=lfs -text
images/Werwolf_Alpha.kra filter=lfs diff=lfs merge=lfs -text
images/Brainwasher.png filter=lfs diff=lfs merge=lfs -text
images/Clairvoyant.png filter=lfs diff=lfs merge=lfs -text
images/Schizo.png filter=lfs diff=lfs merge=lfs -text
images/Titan.kra filter=lfs diff=lfs merge=lfs -text
images/Vampire.png.png filter=lfs diff=lfs merge=lfs -text
images/Armagon.kra filter=lfs diff=lfs merge=lfs -text
images/Armagon.png filter=lfs diff=lfs merge=lfs -text
images/Pope.png filter=lfs diff=lfs merge=lfs -text
images/President.kra filter=lfs diff=lfs merge=lfs -text
images/Prodigy.png filter=lfs diff=lfs merge=lfs -text
images/Sleuth.png filter=lfs diff=lfs merge=lfs -text
images/Tormon.png~ filter=lfs diff=lfs merge=lfs -text
images/trustmaker.png filter=lfs diff=lfs merge=lfs -text
images/Crusader.kra filter=lfs diff=lfs merge=lfs -text
images/Glitcher.kra filter=lfs diff=lfs merge=lfs -text
images/Guardian.png filter=lfs diff=lfs merge=lfs -text
images/Mute.png filter=lfs diff=lfs merge=lfs -text
images/Prosecutor.kra filter=lfs diff=lfs merge=lfs -text
images/Ambivalent.png filter=lfs diff=lfs merge=lfs -text
images/Biologist.png filter=lfs diff=lfs merge=lfs -text
images/Brute.kra filter=lfs diff=lfs merge=lfs -text
images/Centralist.png filter=lfs diff=lfs merge=lfs -text
images/Jailer.png filter=lfs diff=lfs merge=lfs -text
images/Terminator.png filter=lfs diff=lfs merge=lfs -text
images/Tracker.png filter=lfs diff=lfs merge=lfs -text
images/Vampire_Hunter.png filter=lfs diff=lfs merge=lfs -text
images/Fan.png filter=lfs diff=lfs merge=lfs -text
images/Mad_Virologist.png filter=lfs diff=lfs merge=lfs -text
images/Platidurinarian.kra filter=lfs diff=lfs merge=lfs -text
images/Siamese_Twin.kra filter=lfs diff=lfs merge=lfs -text
images/Tormon.kra~ filter=lfs diff=lfs merge=lfs -text
images/Whisperer.png filter=lfs diff=lfs merge=lfs -text
images/Kala.kra filter=lfs diff=lfs merge=lfs -text
images/Limpet.png filter=lfs diff=lfs merge=lfs -text
images/Neurohacker.kra filter=lfs diff=lfs merge=lfs -text
images/Soulkeeper.png filter=lfs diff=lfs merge=lfs -text
images/Survivor.png filter=lfs diff=lfs merge=lfs -text
images/Voodoo_Master.kra filter=lfs diff=lfs merge=lfs -text
images/Antifascist.png filter=lfs diff=lfs merge=lfs -text
images/Necrophage.png filter=lfs diff=lfs merge=lfs -text
images/Sleepwalker.png filter=lfs diff=lfs merge=lfs -text
images/Tyrant.png filter=lfs diff=lfs merge=lfs -text
images/Capitalist.png filter=lfs diff=lfs merge=lfs -text
images/Pinocchio.png filter=lfs diff=lfs merge=lfs -text
images/Werwolf_Alpha.png filter=lfs diff=lfs merge=lfs -text
images/Ankou.png filter=lfs diff=lfs merge=lfs -text
images/bully.png filter=lfs diff=lfs merge=lfs -text
images/Inspector.png filter=lfs diff=lfs merge=lfs -text
images/Kala.png filter=lfs diff=lfs merge=lfs -text
images/Mad_Virologist.kra filter=lfs diff=lfs merge=lfs -text
images/Mummer.png filter=lfs diff=lfs merge=lfs -text
images/Liar.kra filter=lfs diff=lfs merge=lfs -text
images/Patroness.kra filter=lfs diff=lfs merge=lfs -text
images/Prevaricator.kra filter=lfs diff=lfs merge=lfs -text
images/Alien.kra filter=lfs diff=lfs merge=lfs -text
images/Balloonatic.kra filter=lfs diff=lfs merge=lfs -text
images/Dazzler.kra filter=lfs diff=lfs merge=lfs -text
images/Fair_Player.kra filter=lfs diff=lfs merge=lfs -text
images/Ker.kra filter=lfs diff=lfs merge=lfs -text
images/Patron.kra filter=lfs diff=lfs merge=lfs -text
images/Concealer.kra filter=lfs diff=lfs merge=lfs -text
images/Nightmare.png filter=lfs diff=lfs merge=lfs -text
images/Pardoner.png filter=lfs diff=lfs merge=lfs -text
images/Quine.png filter=lfs diff=lfs merge=lfs -text
images/Agitator.png filter=lfs diff=lfs merge=lfs -text
images/Steelzkin.png filter=lfs diff=lfs merge=lfs -text
images/Probationer.png filter=lfs diff=lfs merge=lfs -text
images/Alien.png filter=lfs diff=lfs merge=lfs -text
images/Concealer.png filter=lfs diff=lfs merge=lfs -text
images/Dazzler.png filter=lfs diff=lfs merge=lfs -text
images/Prevaricator.png filter=lfs diff=lfs merge=lfs -text
images/Collaborator.png filter=lfs diff=lfs merge=lfs -text
images/Friend_Breakup.png filter=lfs diff=lfs merge=lfs -text
images/Introvert.png filter=lfs diff=lfs merge=lfs -text
images/Ker.png filter=lfs diff=lfs merge=lfs -text
images/Patron.png filter=lfs diff=lfs merge=lfs -text
images/Liar.png filter=lfs diff=lfs merge=lfs -text
images/Patroness.png filter=lfs diff=lfs merge=lfs -text
images/Rationalist.png filter=lfs diff=lfs merge=lfs -text
images/Showmaster.png filter=lfs diff=lfs merge=lfs -text
images/Superhero.png filter=lfs diff=lfs merge=lfs -text
images/Plague.png filter=lfs diff=lfs merge=lfs -text
images/Bipartisan.png filter=lfs diff=lfs merge=lfs -text
images/Croupier.png filter=lfs diff=lfs merge=lfs -text
images/Fair_Player.png filter=lfs diff=lfs merge=lfs -text
images/Illusionist.png filter=lfs diff=lfs merge=lfs -text
images/Mentor.png filter=lfs diff=lfs merge=lfs -text
images/Murderer.png filter=lfs diff=lfs merge=lfs -text
images/Stranger.png filter=lfs diff=lfs merge=lfs -text
images/Repairman.png filter=lfs diff=lfs merge=lfs -text
images/Smartypants.png filter=lfs diff=lfs merge=lfs -text
images/Balloonatic.png filter=lfs diff=lfs merge=lfs -text
pdf/BotC_Wicked_Wizardry.pdf filter=lfs diff=lfs merge=lfs -text
images/Victim.kra filter=lfs diff=lfs merge=lfs -text
