casual-on-the-homebrewer/reminders.pdf filter=lfs diff=lfs merge=lfs -text
casual-on-the-homebrewer/roles.pdf filter=lfs diff=lfs merge=lfs -text
beginners-101/reminders.pdf filter=lfs diff=lfs merge=lfs -text
beginners-101/roles.pdf filter=lfs diff=lfs merge=lfs -text
../rendered_images/necrophage_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/shopkeeper_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/sorcerer_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/theist_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/aristocrat_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/activist_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/centralist_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/conspirator_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/panicmonger_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/redeemer_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/sleuth_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/spellcaster_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/concealer_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/hacker_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/mute_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/pastor_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/smartypants_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/stranger_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/vagrant_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/wicked_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/armagon_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/anarchist_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/balloonatic_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/frustrator_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/medusa_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/pardoner_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/plague_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/vampire_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/logician_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/monstro_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/patron_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/witcher_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/brainwasher_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/censor_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/clairvoyant_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/hydra_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/kala_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/ouroboros_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/president_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/psychatrist_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/ankou_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/blabber_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/brainformer_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/crimsonboy2_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/cyborg_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/doppelgnger_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/platitudinarian_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/romantic_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/arrester_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/crimsonboy_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/demographer_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/maniac_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/mentalist_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/shaman_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/sleepwalker_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/spiritofirony_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/brute_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/bully_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/ghoul_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/introvert_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/jailer_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/sectarian_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/soulkeeper_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/spoiler_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/adulterator_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/neurohacker_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/psychic_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/shredder_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/superhero_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/vice_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/victim_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/immortal_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/poppysnitch_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/quizmaster_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/sickener_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/steelfzkin_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/supervisor_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/timeeater_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/villagegargoyle_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/angelofdeath_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/biologist_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/champion_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/faustian_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/frankenstein_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/gourmet_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/identitythief_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/inspector_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/madvirologist_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/darling_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/drugpusher_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/juror_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/saboteur_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/twindemon_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/carnivalreveller_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/fairplayer_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/fan_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/imbecile_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/ponerologist_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/terminator_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/friendbreakup_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/illusionist_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/instigator_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/liar_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/plotter_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/pope_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/populist_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/spindoctor_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/masterhora_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/executioner_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/genie_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/kindergardener_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/legionatic_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/prodigy_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/prophet_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/psychotherapist_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/bigshot_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/neurex_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/nimp_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/quine_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/scaremonger_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/suppressor_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/townplanner_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/tyrant_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/ker_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/mummer_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/showmaster_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/survivor_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/travelagent_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/whisperer_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/ambivalent_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/attorney_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/cynic_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/guardian_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/nihilist_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/physician_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/polymath_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/chameon_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/collaborator_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/trustmaker_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/actor_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/copycat_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/diabolus_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/hero_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/lleedh_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/repairman_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/vampirehunter_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/maverick_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/careworker_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/clanboss_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/joker_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/mafiaboss_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/satan_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/therapist_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/voodoomaster_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/cartographer_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/poltergeist_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/loanshark_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/murderer_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/pandemon_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/prevaricator_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/putschist_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/lover_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/commentator_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/daimyou_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/detective_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/doubleagent_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/impersonator_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/buddha_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/dictator_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/dowser_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/duelist_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/forensic_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/influencer_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/rookie_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/samurai_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/eyezero_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/gilorax_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/mephisto_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/rationalist_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/robber_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/siamesetwin_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/sinisterfog_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/titan_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/alien_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/apatheist_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/deathgargoyle_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/epidemon_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/glitcher_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/muezzin_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/nightmare_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/prosecutor_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/model_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/petrifier_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/puppeteer_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/soulmate_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/tormon_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/tracker_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/traitor_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/dazzler_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/agitator_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/antifascist_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/crusader_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/factchecker_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/schizo_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/warmonger_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/werwolfalpha_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/bipartisan_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/gnostic_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/patroness_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/bodyguard_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/clown_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/fantasist_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/limpet_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/paranoid_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/pinocchio_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/probationer_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/punk_trustmebro.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/croupier_homebrew.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/demonologist_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/esoteric_imppreposterous.png filter=lfs diff=lfs merge=lfs -text
../rendered_images/hairdresser_homebrew.png filter=lfs diff=lfs merge=lfs -text
